body {
    background-color: #ffffff;
    font-family: 'Markazi Text', serif;

}

.btn-ana {
    background-color: #FF4500;
    border-color: #FF4500;
    color: white;
    transition: background-color 0.3s ease;
}


@media (max-width: 480px) { /* Mobil */
    .btn-ana {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (min-width: 481px) { /* Tablet  */
    .btn-ana {
        font-size: 18px;
        padding: 10px 20px;
    }
}

.btn-ana:hover {
    background-color: #FFD700;
    border-color: #FFD700;
    color: black;
}


.btn-menu {
    background-color: #000080;
    border-color: #000080;
    color: white;
    transition: background-color 0.3s ease;
}


@media (max-width: 480px) { /* Mobil */
    .btn-menu {
        font-size: 14px;
        padding: 8px 16px; 
    }
}

@media (min-width: 481px) { /* Tablet */
    .btn-menu {
        font-size: 18px;
        padding: 10px 20px;
    }
}

.btn-menu:hover {
    background-color: #FFD700;
    border-color: #FFD700;
    color: black;
}

.bg-bordo {
    background-color: #800000;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu-konteyner {
    display: flex;
    justify-content: flex-end;
}

.menu-box {
    background-color: #000080;
    border: 2px solid #000080;
    border-radius: 10px; 
    padding: 10px;
    text-align: center;
    margin: 5px; 
}

.menu-box a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu-box a:hover {
    border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 5px;
}

.logo-konteyner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.images-logo {
    margin-left: 45px; 
    width: 200px; 
    height: 100px;
    background-color: #ffffff;
    border-radius: 100% ; 
    border: 1px solid #000000; 
}


.baslik-paragraf {
    text-align: center;
    margin: 15px 0; 
    flex-grow: 1;
    margin-right: 55px;
}

.baslik-text {
    display: block;
    width: 100%;
    font-size: 4rem;
    font-weight: bold;
    font-family: "Linden Hill", serif;
}

.alt-text {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: normal;
    margin-top: 15px;
}

.iletişim-text {
    background-color: rgba(187, 187, 187, 0.205);
    opacity: 0.9;

}
.card {
    background-color: rgba(187, 187, 187, 0.205);
    opacity: 0.9;
}

/* Şeffaf jumbotron */
.ozel-jumbotron {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(187, 187, 187, 0.205);
    opacity: 0.9;
}
img.responsive-img { 
    max-width: 100%; 
    height: auto;
}


@media (max-width: 480px) {
    .bg-bordo {
        flex-direction: column;
        align-items: center;
        padding: 10px; 
    }
    .logo-konteyner, .baslik-paragraf {
        justify-content: center;
        text-align: center;
        margin-right: 0;
        padding: 5px;
    }
    .logo-konteyner svg {
        margin-left: 20px;
    }
    .dropdown {
        display: block;
        text-align: right;
        margin: 5px;
    }
    .menu-konteyner {
        display: none;
    }
    img.responsive-img {
        max-width: 100%;
    }
}



@media (min-width: 481px) and (max-width: 1200px) {
    .logo-konteyner, .baslik-paragraf {
        justify-content: center;
        text-align: center;
        margin-right: 0;
    }
    .dropdown {
        display: block;
        text-align: right;
        margin: 5px; 
    }
    .menu-konteyner {
        display: none;
    }
    img.responsive-img {
        max-width: 100%;
    }
}


/* Dizüstü Bilgisayar (1201px - 1600px) */
@media (min-width: 1201px) and (max-width: 1600px) {
    .desktop-menu-konteyner {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 20px;
    }
    .ozel-jumbotron {
        width: 100%;
        margin-right: 0;
    }
    img.responsive-img {
        max-width: 100%;
        height: auto;
    }
}




@media (min-width: 1601px) {
    .desktop-menu-konteyner {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 20px;
    }
    .ozel-jumbotron {
        width: 100%;
        margin-right: 0;
    }
    img.responsive-img {
        max-width: 100%;
        height: auto;
    }
}


.oleo-script-swash-caps-regular {
    font-family: "Oleo Script Swash Caps", system-ui;
    font-weight: 400;
    font-style: normal;
}

.oleo-script-swash-caps-bold {
    font-family: "Oleo Script Swash Caps", system-ui;
    font-weight: 700;
    font-style: normal;
}
.rubik-mono-one-regular {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: bold;
}


#map-container {
    position: relative;
    width: 100%;
    height: 300px; 
    margin-top: 20px;
}

#map {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    border-width: 0;
    margin: 0;
    cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur), default;
    touch-action: pan-x pan-y;
}

.gm-style {
    font: 400 11px Roboto, Arial, sans-serif;
    text-decoration: none;
}
